<extend name="common/iframe" />

<!-- 区块-标题 -->
<block name="title">

</block>

<!-- 区块-样式 -->
<block name="style">

</block>

<!-- 区块-内容 -->
<block name="content">
	<form action="" class="layui-form layui-form-pane">
		<div class="layui-form-item layui-form-text">
			<label for="name" class="layui-form-label">栏目名称</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" id="name">
			</div>
		</div>
		<div class="layui-form-item layui-form-text">
			<label for="classify_id" class="layui-form-label">所属栏目</label>
			<div class="layui-input-block">
				<select id="classify_id">
					<script type="text/javascript">
						/* 初始化栏目 */
						let classifys = {$classifys | json_encode};

						function initClassifys(classifys, text) {
							$.each(classifys, function(index, classify) {
								text += `<option value="${classify.id}">${classify.prefix}${classify.name}</option>`
								if (classify.hasClassifys) {
									text = initClassifys(classify.classifys, text)
								}
							})
							return text
						}

						$("#classify_id").html(initClassifys(classifys, `<option value="0">作为顶级栏目</option>`))
					</script>
				</select>
			</div>
		</div>
	</form>
	<!-- 初始化数据 -->
	<if condition="!empty($id)">
		<script type="text/javascript">
			$("#classify_id").val("{$id}")
		</script>
	</if>
</block>

<!-- 区块-脚本 -->
<block name="script">
	<script type="text/javascript">
		layui.use(["form"], function() {
			let form = layui.form
		})
	</script>
</block>
