<extend name="common/iframe" />

<!-- 区块-标题 -->
<block name="title">

</block>

<!-- 区块-样式 -->
<block name="style">

</block>

<!-- 区块-内容 -->
<block name="content">
	<form action="" class="layui-form layui-form-pane">
		<div class="layui-form-item layui-form-text">
			<label for="name" class="layui-form-label">模型名称</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" id="name">
			</div>
		</div>
		<div class="layui-form-item layui-form-text">
			<label for="field" class="layui-form-label">模型键名</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" id="field">
			</div>
		</div>
	</form>
	<!-- 初始化数据 -->
	<if condition="!empty($data)">
		<script type="text/javascript">
			$("#name").val("{$data.name}")
			$("#field").val("{$data.field}")
		</script>
	</if>
</block>

<!-- 区块-脚本 -->
<block name="script">
	<script type="text/javascript">
		layui.use(["form"], function() {
			let form = layui.form
		})
	</script>
</block>
