<extend name="common/frame" />

<!-- 区块-标题 -->
<block name="title">
	模型管理
</block>

<!-- 区块-样式 -->
<block name="style">

</block>

<!-- 区块-内容 -->
<block name="content">
	<table class="table table-bordered table-hover">
		<colgroup>
			<col width="10%">
			<col width="10%">
			<col width="10%">
			<col width="15%">
			<col width="15%">
			<col width="15%">
			<col width="25%">
		</colgroup>
		<thead>
			<tr>
				<th><input type="checkbox" id="all" onchange="changeAll()"></th>
				<th>模型排序</th>
				<th>模型编号</th>
				<th>模型名称</th>
				<th>模型键名</th>
				<th>模型状态</th>
				<th><button class="btn btn-success" type="button" onclick="add()">添加模型</button></th>
			</tr>
		</thead>
		<tbody>
			<volist name="datas" id="data">
				<tr>
					<td><input type="checkbox" name="deleteId" value="{$data.id}"></td>
					<td><input type="text" class="form-control text-center" value="{$data.sort}" onchange="changeSort(this, {$data.id}, '{:cmf_plugin_url('Content://admin_model/changeSort')}')"></td>
					<td>{$data.id}</td>
					<td>{$data.name}</td>
					<td>{$data.field}</td>
					<td>
						<switch name="$data.status">
							<case value="1">
								<button class="btn btn-warning" type="button" onclick="changeStatus(2, {$data.id}, '{:cmf_plugin_url('Content://admin_model/changeStatus')}', '确认禁用模型?')">禁用模型</button>
							</case>
							<case value="2">
								<button class="btn btn-success" type="button" onclick="changeStatus(1, {$data.id}, '{:cmf_plugin_url('Content://admin_model/changeStatus')}', '确认启用模型?')">启用模型</button>
							</case>
						</switch>
					</td>
					<td>
						<a href="{:cmf_plugin_url('Content://admin_field/index')}?model_id={$data.id}" class="btn btn-default">管理字段</a>
						<button class="btn btn-primary" type="button" onclick="edit({$data.id})">修改模型</button>
						<button class="btn btn-danger" type="button" onclick="destroy({$data.id}, '{:cmf_plugin_url('Content://admin_model/destroy')}', '确认删除模型?')">删除模型</button>
					</td>
				</tr>
			</volist>
		</tbody>
	</table>
	<div class="row">
		<div class="col-md-2">
			<button class="btn btn-danger" type="button" onclick="deleteAll('{:cmf_plugin_url('Content://admin_model/deleteAll')}', '确认删除选中?')">删除选中</button>
		</div>
		<div class="col-md-10">
			<div class="text-right">{$pages}</div>
		</div>
	</div>
</block>

<!-- 区块-脚本 -->
<block name="script">
	<script type="text/javascript">
		/* 添加模型 */
		function add() {
			let title = "模型添加"
			let url = `{:cmf_plugin_url('Content://admin_model/add')}`
			iframe(title, url, function(index, layero) {
				let form = layer.getChildFrame("form", index)
				let iframeWin = window[layero.find('iframe')[0]['name']]
				let params = {
					submit: "submit",
					params: {
						name: form.find("#name").val(),
						field: form.find("#field").val(),
					}
				}
				if (isNull(params.params.name)) {
					msg("模型名称为空")
					return false
				}
				if (isNull(params.params.field)) {
					msg("模型键名为空")
					return false
				}
				let indexLoad = layer.load(2)
				$.post(url, params, function(data) {
					if (data == true) {
						layer.close(indexLoad)
						layer.close(index)
						location.reload()
					}
				})
			})
		}

		/* 修改模型 */
		function edit(id) {
			let title = "模型修改"
			let url = `{:cmf_plugin_url('Content://admin_model/edit')}?id=${id}`
			iframe(title, url, function(index, layero) {
				let form = layer.getChildFrame("form", index)
				let iframeWin = window[layero.find('iframe')[0]['name']]
				let params = {
					submit: "submit",
					params: {
						name: form.find("#name").val(),
						field: form.find("#field").val(),
					}
				}
				if (isNull(params.params.name)) {
					msg("模型名称为空")
					return false
				}
				if (isNull(params.params.field)) {
					msg("模型键名为空")
					return false
				}
				let indexLoad = layer.load(2)
				$.post(url, params, function(data) {
					if (data == true) {
						layer.close(indexLoad)
						layer.close(index)
						location.reload()
					}
				})
			})
		}

		/* 导航激活 */
		$(".nav li").removeClass("active")
		$(".nav li").eq(0).addClass("active")
	</script>
</block>
